<% if @cart.cart_items.length > 0 %>
  <table class="bordered responsive-table">
    <thead>
      <tr>
        <th>Course</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |item| %>
        <tr>
          <td><%= item.course.title %></td>
          <td><%= number_to_currency item.course.price %></td>
          <td><%= link_to "Remove", item, method: :delete, data: {confirm: "Are you sure?" }%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>
    Total: <%= number_to_currency @cart.total %>
  </p>

  <%= link_to "Pay with Paypal", checkout_path, class: "waves-effect waves-light btn right" %>
<% else %>
  <p class="flow-text center">
    No item in your cart.
  </p>
<% end %>