<%= form_for [@course, @review], remote: true do |f| %>
  <div id="review_rating"></div>
  <%= f.text_field :comment %>
  
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :course_id %>
  
  <div class="actions">
    <%= f.submit "Create Review", class: "btn" %>
  </div>
  
<% end %>